<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="https://kit.fontawesome.com/54d9a52d16.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<!-- New Posts Reque -->

<body class="bg-gradient-to-br from-purple-500 to-pink-500 min-h-screen pb-10">
    <nav class="w-full p-6 bg-white fixed left-0 top-0 text-right shadow-md"> <a href="/logout"><i
                class="fa-solid fa-right-from-bracket"></i> Log out</a> </nav>
    <section class="mt-28 w-3/4 m-auto bg-white px-12 py-6 flex flex-col rounded-md ">
        <h2 class="text-xl bold">
            <%=name %>'s News Feed
        </h2>
    </section>
    <input type="hidden" id="user_id_field" value="<%=user_id%>">
    <!-- Posts -->
    <section id="app"></section>
    <script src="/js/feed.js" type="text/babel"></script>
</body>

</html>